<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, internalKeyToken=b77a5c561934e089" >
            <section name="NAntGui.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, internalKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NAntGui.Gui.Properties.Settings>
            <setting name="MaxRecentItems" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="HideTargetsWithoutDescription" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="MainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PropertySort" serializeAs="String">
                <value>Alphabetical</value>
            </setting>
            <setting name="RecentItems" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\Example.build</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OpenPreviousTabs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenScriptDir" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="SaveScriptInitialDir" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="SaveOutputInitialDir" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="WordWrapOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StandardToolStripLocation" serializeAs="String">
                <value>3, 0</value>
            </setting>
            <setting name="BuildToolStripLocation" serializeAs="String">
                <value>286, 0</value>
            </setting>
        </NAntGui.Gui.Properties.Settings>
    </userSettings>
</configuration>